# Environment Variables Example
PORT=3000

# Email Forwarding Settings (Nodemailer Zoho)
TO_MAIL=info@divineimprints.in
SMTP_HOST=smtp.zoho.in
SMTP_PORT=465
SMTP_USER=accounts@mayankzen.in
SMTP_PASS=mPJscy7WXr9h
